node_modules/
.pnp
.pnp.js
.env
.env.local
.env.*.local
dist/
build/
.expo/
.next/
out/
src/generated/prisma
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo
.expo-shared/
coverage/
